.container {
  position: relative;
  width: 900px;
  height: 6475px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}

.box-menu {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  justify-content: space-between;
  display: inline-block;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  left: 60px;
  display: flex;
  padding-left: 60px;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu ul {
  display: flex;
  padding-right: 40px;
  justify-content: center;
}

.menu ul li {
  display: inline-block;
  position: relative;
}

.menu ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #160433;
}

ul.submenu {
  background-color: #e8e8f5;
  border: 1px solid #090a3f;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  z-index: 8888;
}

ul.submenu li {
  display: block;
}

ul.submenu li a {
  display: block;
  padding: 3px 3px;
}

.menu ul li:hover ul.submenu {
  display: block;
}

.jumbotron {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  color: seashell;
  background-color: #aaa;
  background-image: url(bg3.png);
  background-size: cover;
  position: relative;
}

.boxnama {
  width: 300px;
  height: 200px;
  font-family: "Open Sans", sans-serif;
}

.jumbotron .boxnama h2,
.jumbotron .boxnama p {
  position: relative;
  font-weight: bold;
}
.boxnama h2 {
  color: white;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.boxnama p {
  color: white;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  align-items: center;
}

.contohspan {
  color: #a7c1da;
}

.boxbutton {
  display: flex;
  margin: 20px;
}

.boxcontact {
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  background-color: #ccc;
  border-radius: 3px;
}

.boxcontact:hover {
  background-color: #a7c1da;
}

.boxcontact a {
  color: #160433;
  text-decoration: none;
}

.boxresume {
  border: 1px solid #cbdaee;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  margin-left: 54px;
}

.boxresume:hover a {
  color: #cbdaee;
}

.boxresume a {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: rgb(165, 165, 170);
  min-height: 30px;
  padding: 5px;
  text-align: center;
}
